
<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/home.css">

<nav>
  <div class="logo">
      <h1>FINDER</h1>
      <h6><i class="ri-heart-pulse-fill"></i></h6>
  </div>

  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About us</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/blog">Blogs</a></li>

  </ul>

      <!-- <div class="navbtns">

        <% var flag =0%>
        <% if(flag == 0){%>
          <button class="logout"> <a href="/login">Logout</a> </button>
          <div class="account">
            <a href="/know/<%= profiles._id%>"><img src="<%= profiles.image%>" alt="" class="profileimg"></a>
                            
                          </div>            
<% flag = 1%>
        <%}else{%>
          <button class="logout"> <a href="/login">LogIn</a> </button>
<% flag = 0%>
        <%}%>
            
      </div> -->

 
       <div class="navbtns">

        <% if(!profiles){%>

          <button class="logout"> <a href="/login">Logout</a> </button>
          <div class="account">
            <a href="/know/<%= profiles._id%>"><img src="<%= profiles.image%>" alt="" class="profileimg"></a>
                            
          </div>   
                 
        <%}else{%>

          <button class="logout"> <a href="/login">LogIn</a> </button>
          

        <%}%>
            
      </div>

 
</nav>



<div class="pg1">


  <div class="pg1-head">

    <div class="women">
      <h1>Better</h1>
      <div class="women-img"></div>
    </div>

    <div class="man">
      <div class="man-img"></div>
      <h1>Together</h1>
    </div>
   
  </div>
<div class="pg1box">

  <div class="pg1box-left">
    <h1>FIND YOUR <BR> PERFECT MATCH HERE...</BR></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum suscipit laborum voluptatem consequuntur ducimus autem natus possimus, fuga nisi quisquam dolore dolorum vitae id voluptatum maxime! </p>

    <% if(!profiles){%>
      <button><a href="/msgpage">Find Your Match</a></button>
      
      <%}else{%>
        <button><a href="/people">Find Your Match</a></button>


      <%}%>

  <div class="category">
    <div class="box" id="box1"> 
        <h4>Lookig for</h4>
        <select>
          <option value="">Looking For</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>    
        </select>
    </div>

    <div class="box" id="box2">
        <h4>Age</h4>
    <select >
        <option value="">00</option>
        <option value="">20-25</option>
        <option value="">25-30</option>
        <option value="">30-35</option>
        <option value="">35-40</option>
        <option value="">40-45</option>
        <option value="">45-50</option>
    </select>
    </div>

    
</div>

  </div>

  <div class="pg1box-right">
 <div class="pg1box-right-heading">
  <h3>It's Never Too Late <br>To Fall In Love...</h3>
  </div>
  <div class="pg1box-right-img"></div>
  </div>
</div>


</div>


<div class="pg2">
  <div class="pg2-box1 ">
    <h1>💖</h1>
    <h3>#1 Trusted Dating App</h3>
    <p>2023 survey of 1,300 Respondents from the US, UK, Canada and Australia</p>
  </div>
  <div class="pg2-box2">
    <h1>💖</h1>
    <h3>Every 14 Minutes, Someone  Finds Love On FINDER</h3>
    <p>MATCH MINGLE User Data</p>
  </div>
  <div class="pg2-box3">
    <h1>💖</h1>
<h3>Highest Quality Dating Pool</h3>
<p>2020 Survey of 1,616 U.S. Singles</p>
  </div>
  
</div>


<div class="pg3">
  <div class="pg3-left">
    <div class="pg3-left-head">
      <h1>"Let's create our own love story, filled with unforgettable moments."</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima asperiores porro omnis accusamus placeat quis dolor ipsum veritatis eos. Numquam, cupiditate quisquam molestiae error voluptatibus magnam vitae nisi deserunt harum!</p>
    </div>
    <h3>Create Memories💕💕</h3>
<div class="pg3-left-imgbox"></div>

  </div>



  <div class="pg3-right">
    <div class="pg3-right-profilebox">
        <a href="/login" class="card1 card">
        <img src="https://media.istockphoto.com/id/918695532/photo/woman-using-tablet-on-the-street.jpg?s=612x612&w=0&k=20&c=GQR-m9KSY-rbe7tgqS2VuHJNtTBL0F-uEDlelGY3HOs=" alt="" class="img1">
        <h3> <span>Name:</span> &nbsp; &nbsp; Ankita Yadav</h3>
        <h3> <span>Age:</span> &nbsp; &nbsp; 23</h3>
      <h3><span>Religion:</span> &nbsp; &nbsp; Hindu</h3>
      <h3><span>State:</span>&nbsp; &nbsp; Madhya Pradesh</h3>
      <button>Know More</button>
      </a>

      <a href="/login" class="card2 card">
        <img src="https://images.unsplash.com/photo-1592046285097-6cdf4daf0d69?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cGljcyUyMG9mJTIwc2ltcGxlJTIwYm95c3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="img2">
        <h3> <span>Name:</span> &nbsp; &nbsp; Sumit Sharma</h3>
        <h3> <span>Age:</span> &nbsp; &nbsp; 24</h3>
      <h3><span>Religion:</span> &nbsp; &nbsp; Christian</h3>
      <h3><span>State:</span>&nbsp; &nbsp; Goa</h3>
      <button>Know More</button>
      </a>

      <a href="/login" class="card3 card">
        <img src="https://images.unsplash.com/photo-1593412544031-ffedb2876ed6?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXw3cEQ0dUt6NjZIUXx8ZW58MHx8fHx8" alt="" class="img3">
        <h3> <span>Name:</span> &nbsp; &nbsp; Aadil Khan</h3>
        <h3> <span>Age:</span> &nbsp; &nbsp; 24</h3>
      <h3><span>Religion:</span> &nbsp; &nbsp; Muslim</h3>
      <h3><span>State:</span>&nbsp; &nbsp; Uttar Pradesh</h3>
      <button>Know More</button>
      </a>

      <a href="/login" class="card4 card">
        <img src="https://media.istockphoto.com/id/1158970115/photo/university-student-stock-images.webp?b=1&s=170667a&w=0&k=20&c=Y0vEKr5XW7dlcO4vKzTA9_bQiFaB4G0n92ZX_aYTIMM=" alt="" class="img4">
        <h3> <span>Name:</span> &nbsp; &nbsp; Shivani Mehta</h3>
        <h3> <span>Age:</span> &nbsp; &nbsp; 23</h3>
      <h3><span>Religion:</span> &nbsp; &nbsp; Hindu</h3>
      <h3><span>State:</span>&nbsp; &nbsp; Mahrashtra</h3>
      <button>Know More</button>
      </a>
    </div>
  </div>

 
</div>


<div class="pg4">
  <div class="pg4-box1">
  <div class="pg4-box1-logo"></div>
  <h4>OVER 2 MILLION HAVE FOUND LOVE</h4>
  <h5>....could you be next?</h5>
  </div>

  <div class="pg4-box2">
  <div class="pg4-box2-logo"></div>
<h4>51% MEN <br> 49% WOMEN</h4>
<h5>Quality matches for everyone</h5>
  </div>

  <div class="pg4-box3">
  <div class="pg4-box3-logo"></div>
  <h4>SITE MOST LIKELY TO LEAD <br> TO HAPPY RELATIONSHIP</h4>
  <p>...the right one may be waiting for you!</p>

  </div>

</div>



<div class="pg5">
  <h1>Welcome to the best free Dating site on the Web</h1>
  <h4>Put away your credits card, our site is totally free and always will be. <br> We know online dating can be frustrating, so we built our site with one goal in mind: Make online dating free, easy and fun for everyone.</h4>
  <p>Signing up for MATCH MINGLE💕 is the first step in finding your next great relationship. From profile tips to sharing your success story, we are here to support you in your journey for love.</p>

  <a href="/register">Register</a>
</div>








<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascripts/home.js"></script>
<%- include("partials/footer2")%>

<%- include("partials/footer")%>

