<%- include("partials/header")%>


<link rel="stylesheet" href="/stylesheets/update.css">
<link rel="stylesheet" href="/stylesheets/nav2.css">


<div class="pg1">

    <!-- <nav>
        <div class="logo">
            <h1>FINDER</h1>
            <h6><i class="ri-heart-pulse-fill"></i></h6>
        </div>
    
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/blog">Blogs</a></li>
    
        </ul>
    
            <div class="navbtns">
               
                    <button class="logout"> <a href="/login">Logout</a> </button>
                    <div class="account">
    <a href="/know/<%= update._id%>"><img src="<%= update.image%>" alt=""></a>
                      
                    </div>
            
              
            </div>
    
       
       
    </nav> -->


<h1>Update Your Data!!👍</h1>

<form action="/update/<%=update._id%>" method="post">
    <input type="text" name="name" placeholder="Name" value="<%= update.name%>">
    <input type="text" name="age" placeholder="Age" value="<%= update.age%>">  
    <input type="text" name="gender" placeholder="Gender" value="<%= update.gender%>">  
    <input type="text" name="dob" placeholder="Date of Birth" value="<%= update.dob%>">  
    <input type="text" name="image" placeholder="Image" value="<%= update.image%>">
    <select name="religion">
        <option value="hindu">Hindu</option>
        <option value="muslim">Muslim</option>
        <option value="sikh">Sikh</option>
        <option value="sikh">Christian</option>

    </select>
    <select name="state" >
        <option value="">Select State</option>
        <% stateNames.forEach(function(s){ %>
<option 
<%= update.state === s ? "selected" : ""%>

value="<%= s%>"><%= s%>
</option>
       <% })%> 
    </select> 

    <select name="city" >
        <option value="">Select City</option>
       <% citynames.forEach(function(c){%>
<option 
<%= update.city === c ? "selected" : ""%>

value="<%= c%>"> <%= c%>
 </option>
      <% })%>
    </select>
<input type="text" name="education" placeholder="Education" value="<%= update.education%>">
<input type="email" name="email" placeholder="Email" value="<%= update.email%>"> <br>
<input type="text" class="number" name="number" placeholder="Contact" value="<%= update.number%>">
<textarea name="about" id="" cols="38" rows="3" placeholder="About"><%= update.about%></textarea>

<div class="profileimgs">
<h3> <u>Add Photos</u></h3>
<input type="text" class="img" name="image1" placeholder="Image" value="<%= update.image1%>">
<input type="text" class="img" name="image2" placeholder="Image" value="<%= update.image2%>"> <br>
<input type="text" class="img" name="image3" placeholder="Image" value="<%= update.image3%>">
<input type="text" class="img" name="image4" placeholder="Image" value="<%= update.image4%>"> <br>
<input type="text" class="img" name="image5" placeholder="Image" value="<%= update.image5%>">
<input type="text" class="img" name="image6" placeholder="Image" value="<%= update.image6%>">
</div>

    <button class="updatebtn">Update </button>
   
</form>

</div>

